<%= render 'shared/page_title', title: "Listing all profiles"%>

<div class="row d-flex justify-content-center align-items-center mt-4">
  <% @chefs.each do |chef| %>
    <div class="col-md-4 mb-4">
      <div class="well">
        <%= link_to gravatar_for(chef), chef_path(chef), class: "d-block mb-2" %>
        <h5 class="chef-title">
          <%= link_to chef.name.capitalize, chef_path(chef), style: "color: #073B15;"  %>
        </h5>
        <small class="d-block mb-2">
          <%= pluralize(chef.recipes.count, "recipe") if chef.recipes %>
        </small>
        <% if logged_in? && current_chef.admin? && !chef.admin? %>
          <small class="d-block text-danger">
            <%= link_to "Delete", chef_path(chef), method: :delete, data: { confirm: "Are you sure you want to delete this chef and all associated recipes?" } %>
          </small>
        <% end %>

      </div>
    </div>
  <% end %>
</div>

<div class="d-flex justify-content-center">
  <%= paginate @chefs%>
</div>
