<%= render 'shared/page_title', title: "Chef #{@chef.name}'s profile"%>

<div class="row d-flex justify-content-center align-items-center mt-4">
  <div class="col-md-2">
    <section>
      <%= gravatar_for(@chef, size: 120)%>
    </section>
  </div>
</div>


<% if @chef.recipes.count != 0 %>
  <h4 class="text-center mt-4"><%= @chef.name%>'s recipes</h4>
  <%= render 'recipes/recipe', obj: @chef.recipes%>
  <div class="d-flex justify-content-center">
    <%= paginate @chef_recipes%>
  </div>
<% else %>
  <h4 class="text-center mt-4">No recipes yet!</h4>
<% end %>


